.tracinho2 {
    width: 30px;
    height: 5px;
    background: #000;
    border-radius: 2px;
}

.traços2 {
    display: flex;
    justify-content: space-between;
    width: 50%;
    transform: rotate(140deg);
}

.caminhoAbelha2 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    position: absolute;
    top: 20%;
    right: 4%;
}