.tracinho2 {
    width: 25px;
    height: 4px;
    background: #000;
    border-radius: 2px;
}

.traços2 {
    display: flex;
    justify-content: space-between;
    width: 50%;
    transform: rotate(130deg);
}

.caminhoAbelha2 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    position: absolute;
    top: 10%;
    right: -5%;
}

.linhaAbelha2 {
    width: 0px;
    height: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    transform: rotate(100deg);
    z-index: 100;
    transition: width 0.2s linear;
}

.linhaAbelha2 span {
    display: inline-block;
    width: 25px;
    height: 4px;
    background: #000;
    border-radius: 2px;
    opacity: 0.9;
    animation: caminho 2.5s ease-in-out infinite;
    animation-delay: calc(var(--i) * 0.15s);
}

@keyframes caminho {

    0%,
    100% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(5px);
    }

    75% {
        transform: translateY(-3px);
    }
}