/* Container do livro */
.bookContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Flipbook */
.flipbook {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

/* Páginas */
.pagina {
  position: relative;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* Container de imagens */
.pagina .imagens {
  position: relative;
  width: 100%;
  height: 100%;
}

.pagina .paginaImagem {
  position: absolute;
}

/* Container de palavras */
.pagina .palavras {
  position: relative;
  width: 100%;
  height: 100%;
}

.pagina .palavra {
  position: absolute;
  white-space: nowrap;
  cursor: default;
}

/* Capa e contracapa */
.capa img, .contracapa img  {
  width: 100%;
  height: 100%;
  object-fit: cover;
}