body {
  background: linear-gradient(to top, #2155e0, #b0aed8);
}
 
.jogoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
 
.letras {
  background-color: aliceblue;
  margin-top: 20px;
  width: 600px;
  padding: 20px;
  border-radius: 20px;
  justify-content: center;
  z-index: 5;
}
 
.letras p{
  font-size: 22px;
  margin-bottom: -5px;
}
 
.inputContainer {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  height: 50px;
  border-radius: 20px;
}
 
.inputField {
  width: 40px;
  height: 45px;
  font-size: 20px;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 4px 3px black;
}
 
.submitButton {
  padding: 10px 20px;
  background-color: #1F2D7B;
  color: white;
  font-size: 25px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 20px;
  width: 150px;
 
}
 
.submitButton:hover {
  background-color: #111a4a;
}
 
.inputField.letraCorreta {
  background-color: #c8f7c5;
  border: 2px solid #2ecc71;
}
 
.inputField.letraCorreta {
  background-color: #c8f7c5;
  border: 2px solid #2ecc71;
}
 
.inputField.letraIncorreta {
  background-color: #f7c5c5;
  border: 2px solid #e74c3c;
}
 
.feedbackImg {
  width: 50px;
  height: 50px;
}
 
.feedbackImagemContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.feedbackImgOverlay {
  position: absolute;
  bottom: 0;  
  left: 240px;  
  width: 120px;
  height: 120px;
  pointer-events: none;
  user-select: none;
  z-index: 10;
}

.feedbackTop {
  margin-top: 10px;
  text-align: center;
  font-weight: 600;
  color: #000000;
  background-color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 20px;
}
 

.jogoCard {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.estrelasBg {
  display: flex;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 10;
}
 
.nuvensBg {
  display: flex;
  position: relative;
  width: 100%;
  bottom: 0;
  z-index: 0;
}
 
