/* Estilo geral da página início do jogo: O Que Você Vê? */

/* Remove sublinhado de links */
button, a {
  text-decoration: none;
  outline: none;
}

/* Estrutura principal */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(to top, #2155e0, #b0aed8);
}

/* Imagens de fundo */
.estrelasBg {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1;
}

.nuvensBg {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 0;
}

/* Conteúdo central */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

/* Títulos */
.title, .subtitle {
  font-size: 3.3rem;
  font-weight: 500;
  color: #1a1a1a;
  padding: 0;
}

.title {
  margin-top: 30%;
  margin-bottom: -0.5rem;
}

.title2 {
  margin-top: 15%;
  font-size: 3.3rem;
  font-weight: 500;
  color: #1a1a1a;
}

.subtitle {
  margin-bottom: 40px;

}

/* Container dos botões */
.buttonsContainer {
  display: flex;
  margin-top: 0%;
  flex-direction: column;
  gap: 1.5rem;
}

/* Imagem da fada */
.fadaSorrindo {
  position: absolute;
  right: 13%;
  bottom: 9%;
  height: 75%;
  width: auto;
  z-index: 6;
  pointer-events: none;
}

/* Textos e parágrafos */
.paragrafo {
  font-size: 23px;
  text-align: justify;
  line-height: 1.8;
  color: #1a1a1a;
  padding: 10px;
  max-width: 70%;
  margin-top: 2%;
  margin-bottom: 5%;
}

/* Ícones */
img.iconArrow {
  width: 40%;
  height: auto;
} 

/* Responsividade */
@media (max-width: 1024px) {
  .fadaSorrindo {
    height: 50%;
    right: 2%;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 2.5rem;
  }

  .subtitle {
    font-size: 1.8rem;
  }

  .buttonsContainer {
    gap: 1rem;
  }

  .fadaSorrindo {
    height: 40%;
    bottom: 5%;
  }
}