@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('../../Assets/Colors/Colors.css');
@import url('../../Assets/Fonts/Fonts.css');

:root {
    --fonte-primaria: 'Poppins', sans-serif;
    --branco: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-primaria);
}

.paginaPrincipal {
    background: linear-gradient(to bottom, #1B3778, #3266DE);
    color: var(--branco);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    position: relative;
}

.titulos {
    font-family: var(--fonte-primaria);
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1.06;
    text-transform: uppercase;
    text-align: justify;
    margin: 0 10% 10%;
}


.estrela1 {
    position: absolute;
    width: 80%;
    height: auto;
    top: 20%;
    left: -10%;
}

.estrela2 {
    position: absolute;
    width: 80vh;
    height: 5vh;
    top: 50vh;
    left: -20vh;
}

.estrela3 {
    position: absolute;
    width: 10vh;
    height: 3vh;
    top: 60vh;
}

.estrela4 {
    position: absolute;
    width: 90vh;
    height: 3vh;
    top: 90vh;
    left: -30vh;
}

.estrela5 {
    position: absolute;
    width: 90vh;
    height: 3vh;
    top: 30vh;
    right: 50vh;
}

.estrela6 {
    position: absolute;
    min-width: 90vh;
    height: 3vh;
    top: 10vh;
    right: 10vh;
}

.nuvem1 {
    position: absolute;
    width: 10vh;
    height: 100vh;
    top: 15vh;
    left: 0;
    animation: flutuar 8s ease-in-out infinite alternate;
}

.nuvem2 {
    position: absolute;
    width: 10vh;
    height: 100vh;
    top: -10vh;
    right: 0;
    animation: flutuarDireita 8s ease-in-out infinite alternate;
}

/* animação das nuvens */

@keyframes flutuar {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes flutuarDireita {
    0% {
        transform: translateY(0) scaleX(-1);
    }

    50% {
        transform: translateY(-20px) scaleX(-1);
    }

    100% {
        transform: translateY(0) scaleX(-1);
    }
}

.bolinha1 {
    position: absolute;
    left: 40vh;
    margin-top: 15vh;
}

.bolinha2 {
    position: absolute;
    left: 70vh;
    margin-top: 40vh;
}

.scroll {
    width: 60px;
    height: 60px;
    left: 50%;
    top: 85%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: 2px solid var(--branco);
    background: #1B3778;
    font-size: 1.5rem;
    color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    z-index: 100;
}


.secaoCards {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--branco);
    padding-bottom: 2rem 0px;
}

#nuvemSecao1 {
    display: flex;
    position: absolute;
    transform: scaleX(-1);
    left: -60vh;
    top: -35vh;
    width: 100%;
    height: 120%;
}

#nuvemSecao2 {
    display: flex;
    position: absolute;
    transform: scaleX(-1);
    right: -50vh;
    top: -40vh;
    width: 100%;
    height: 120%;
}

#nuvemSecao3 {
    display: flex;
    position: absolute;
    transform: scaleY(-1);
    width: 80%;
    height: 80%;
    top: 50%;
    left: -50vh;
}

#nuvemSecao4 {
    display: flex;
    position: absolute;
    transform: scaleY(-1);
    transform: rotate(180deg);
    width: 50%;
    height: 80%;
    right: -14vh;
    top: 55vh;
}

#nuvemSecao5 {
    display: flex;
    position: absolute;
    transform: scaleY(-1);
    transform: rotate(160deg);
    top: 70vh;
    width: 150%;
    height: 65%;
    left: -60vh;
    right: 150vh;
}

#nuvemSecao6 {
    display: flex;
    position: absolute;
    transform: scaleY(-1);
    transform: rotate(160deg);
    top: 70vh;
    width: 150%;
    height: 65%;
    left: -60vh;
    right: 150vh;
}

.paginaFada {
    background: linear-gradient(to bottom, #FFD4D1, #FFB3C8, #D97AA2);
    position: relative;
}

.caixinha {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding: 10rem 10rem;
}

.siteApresentacao {
    position: relative;
}

#fadaPerfil {
    width: fit-content;
    height: 40vh;
}

#fadaPerfil2 {
    position: absolute;
    top: 300vh;
    right: 25vh;
    width: 80vh;
    height: 40vh;
    z-index: 200;
}

#fadaPerfil3 {
    position: absolute;
    width: 80vh;
    height: 40vh;
    margin-left: -5%;
    margin-top: -30%;
}

#decoracaoTexto img {
    display: flex;
    width: 200vh;
    height: 90vh;
}

#decoracaoTexto2 {
    position: relative;
    display: flex;
    margin: -15% 5% 5%;
    width: 150vh;
    height: 90vh;
}

#decoracaoTexto3 {
    position: relative;
    width: 150vh;
    height: 100vh;
    margin-top: 80vh;
    right: -70vh;
}


.caixaTexto {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 2px;
    padding: 50px;
    width: 70vh;
    height: 30vh;
    background: var(--branco);
    border-radius: 16px;
    z-index: 100;
    font-size: 16px;
    top: 0;
    left: 0;
}

.caixaTexto2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 2px;
    padding: 80px;
    width: 70vh;
    height: 30vh;
    background: var(--branco);
    border-radius: 16px;
    font-size: 16px;
    top: 90;
    left: 0;
}

.caixaTexto3 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin: auto;
    gap: 2px;
    padding: 50px;
    width: 100%;
    height: 50vh;
    background: var(--branco);
    border-radius: 16px;
    font-size: 16px;
    top: 6vh;
    right: -3vh;
}

.footer {
    display: flex;
}

#footerOndas {
    height: 100%;
    width: 100%;
}

/* teste de responsividade para telas pequenas */
@media (min-width: 660px) {
    .paginaPrincipal {
        padding: 1rem 10%
    }

    .titulos {
        font-family: var(--fonte-primaria);
        font-size: 2.8rem;
        font-weight: 700;
        line-height: 1.06;
        text-transform: uppercase;
        text-align: justify;
        margin: 0 5% 8%;
    }

    .estrela1 {
        position: absolute;
        width: 45vw;
        height: 15vh;
        top: 20vh;
        left: -15vw;
    }

    .estrela6 {
        position: absolute;
        width: 40vw;
        height: 3vw;
        top: 5vh;
        right: 2vw;
    }


    #nuvemSecao1 {
        display: flex;
        position: absolute;
        transform: scaleX(-1);
        left: -60vh;
        top: -25vh;
        width: 100%;
        height: 100%;
    }

    #nuvemSecao2 {
        display: flex;
        position: absolute;
        transform: scaleX(-1);
        right: -40vh;
        top: -30vh;
        width: 100%;
        height: 120%;
    }

    #nuvemSecao4 {
        display: flex;
        position: absolute;
        transform: scaleY(-1);
        transform: rotate(180deg);
        width: 50%;
        height: 90%;
        right: -14vh;
        top: 50%;
        z-index: 200;
    }

    #nuvemSecao5 {
        display: flex;
        position: absolute;
        transform: scaleY(-1);
        transform: rotate(150deg);
        width: 150%;
        height: 80%;
        left: -75vh;
        right: 150vh;
        top: 70%;
        z-index: 200;
    }

    #nuvemSecao6 {
        display: flex;
        position: absolute;
        transform: scaleY(-1);
        transform: rotate(160deg);
        top: 60vh;
        width: 150%;
        height: 85%;
        left: -150vh;
        right: 150vh;
        z-index: 200;
    }

    #fadaPerfil {
        height: 40vh;
    }

    #fadaPerfil2 {
        margin: -35% -5%;
    }

    #fadaPerfil3 {
        margin: 15% -5%;
    }

    #decoracaoTexto {
        display: flex;
        width: fit-content;
        height: 130vh;
    }

    #decoracaoTexto2 {
        display: flex;
        margin: -20% -25%;
        position: relative;
        width: 160vh;
        height: 100vh;
        top: 5%;
    }

    #decoracaoTexto3 {
        position: relative;
        width: 150vh;
        height: 120vh;
        margin-top: -5%;
        right: -50vh;
    }

    .caixaTexto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        gap: 2px;
        padding: 50px;
        width: 70vh;
        height: 35vh;
        background: var(--branco);
        border-radius: 16px;
        z-index: 100;
        font-size: 14px;
        top: 50%;
        transform: translateY(-50%);
        left: 30%;
    }

    .caixaTexto2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        gap: 2px;
        padding: 50px;
        width: 80vh;
        height: 35vh;
        background: var(--branco);
        border-radius: 16px;
        font-size: 14px;
        left: 15%;
        z-index: 100;
    }

    .caixaTexto3 {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        gap: 2px;
        padding: 50px;
        min-width: 50%;
        height: 25%;
        background: var(--branco);
        border-radius: 16px;
        font-size: 14px;
        top: -3vh;
        right: 50vh;
    }
}