.fadaContainer {
  position: relative;
  width: 200px;
  margin: 0 auto;
  right: 50vh;
}

.fada {
  width: 300%;
  height: auto;
  display: block;
  animation: pulinhoFada 1.2s infinite ease-in-out;
}

@keyframes pulinhoFada {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }
}

@media (min-width: 1440px) {
  .fada {
    width: 500%;
    height: auto;
    display: block;
    margin-left: 100%;
  }
}

@media (min-width: 660px) {
  .fada {
    width: 300%;
    height: auto;
    display: block;
    margin-left: 80%;
  }
}