.fadaContainer {
  position: absolute;
  width: 150px;
  left: 60%;
}

.fada {
  width: 300%;
  height: auto;
  display: block;
  animation: pulinhoFada 0.7s infinite ease-in-out;
}

@keyframes pulinhoFada {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }
}

@media (min-width: 660px) {
  .fada {
    width: 450%;
    height: auto;
    display: block;
    left: 50%;
    margin: 140% -15% 10%;
  }
}